@page
@model CreateModel

@{
   Layout = "_SyncfusionCommonLayout";
}

<div class="card-body">
   <form method="post">
      <partial name="KabupatenKotaEditPartial" model="@Model" />
   </form>
</div>

@section Scripts
{
   <partial name="_ValidationScriptsPartial" />
}
