@page "{id:int?}"
@model EditModel

@{
   Layout = "_SyncfusionCommonLayout";
}

<div class="card-body">
   <form method="post">
      <input type="hidden" asp-for="KabupatenKota.Id" />
      <partial name="KabupatenKotaEditPartial" model="@Model" />
   </form>
</div>

@section Scripts
{
   <partial name="_ValidationScriptsPartial" />
}
