@model IKabupatenKotaEditModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-group">
   <label class="control-label">Nama</label>
   <ejs-textbox
      id="nama"
      ejs-for="KabupatenKota.Nama"
      placeholder="Nama Kabupaten/Kota"
      aria-mycontrol="ej2"
   >
   </ejs-textbox>
   <span asp-validation-for="KabupatenKota.Nama" class="text-danger"></span>
</div>

<div class="form-group">
   <label class="control-label">Provinsi</label>
   <ejs-dropdownlist
      id="kabupaten-kota"
      ejs-for="KabupatenKota.IdProvinsi"
      dataSource="@Model.ProvinsiList"
      placeholder="Pilih Provinsi"
      allowFiltering="true"
      filterType="Contains"
      aria-mycontrol="ej2"
   >
      <e-dropdownlist-fields text="Nama" value="Id"></e-dropdownlist-fields>
   </ejs-dropdownlist>
   <span asp-validation-for="KabupatenKota.IdProvinsi" class="text-danger"></span>
</div>

<div class="form-row">
   <div class="form-group col-sm-12 col-md-6">
      <label class="control-label">Lintang</label>
         <ejs-numerictextbox
            id="lat"
            ejs-for="KabupatenKota.Lat"
            format="n6"
            placeholder="Lintang"
            aria-mycontrol="ej2">
         </ejs-numerictextbox>
      <span asp-validation-for="KabupatenKota.Lat" class="text-danger"></span>
   </div>

   <div class="form-group col-sm-12 col-md-6">
      <label class="control-label">Bujur</label>
         <ejs-numerictextbox
            id="long"
            ejs-for="KabupatenKota.Long"
            format="n6"
            placeholder="Bujur"
            aria-mycontrol="ej2">
         </ejs-numerictextbox>
      <span asp-validation-for="KabupatenKota.Long" class="text-danger"></span>
   </div>
</div>

<input type="submit" value="Simpan" class="btn btn-outline-secondary" />
<a asp-page="./Index" class="btn btn-outline-info">Kembali</a>
