@page
@model CreateModel

@{
    Layout = "_CommonLayout";
}

<div class="card-body">
   <form method="post">
      <partial name="ProvinsiEditPartial" model="@Model" />
   </form>
</div>

@section Scripts
{
   <partial name="_ValidationScriptsPartial" />
}
