@page
@model CreateModel

@{
   Layout = "_SyncfusionCommonLayout";
}

<div class="card-body">
   <form method="post">
      <partial name="KegiatanEditPartial" model="@Model" />
   </form>
</div>

@section Scripts
{
   <script src="~/js/kegiatan.js"></script>

   <partial name="_ValidationScriptsPartial" />
   <partial name="_AjaxUploadFileScriptPartial" />
}
