@page
@model IndexModel

@{
   ViewData["Title"] = "Home page";
}

<!-- Header -->
<header class="masthead">
   <div class="container">
      <div class="intro-text">
         <img src="~/logo-ayo-olahraga.png" />
         <div class="intro-lead-in mt-4">Deputi Bidang Pembudayaan Olahraga</div>
         <div class="intro-heading text-uppercase">Evaluasi Kegiatan</div>
      </div>
   </div>
</header>

<!-- Maps -->
<section class="page-section" id="sf-map">
   <ejs-maps
      id="maps"
      border="Model.Border"
      centerPosition="Model.CenterPosition"
      format="n"
      tooltipDisplayMode="Click"
      useGroupingSeparator="true"
      zoomSettings="Model.ZoomSettings"
   >
      <e-maps-layers>
         <e-maps-layer
            layerType="Bing"
            bingMapType="AerialWithLabel"
            key="@Model.BingKey"
            markerClusterSettings="Model.ClusterSettings"
            markerSettings="Model.MarkerSettings"
         >
         </e-maps-layer>
      </e-maps-layers>
   </ejs-maps>

   <div id="tooltip-template" style="display: none;">
      <div class="deputi-tooltip p-2">
         <div class="text-right">
            <button
               type="button"
               onclick="hideTooltip();"
               class="btn btn-primary btn-sm"
               aria-label="Close"
            >
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <h5 class="text-center">${nama}</h5>
         <a href="${progressLink}" class="btn btn-primary btn-block p-0">Progress: ${progressCount}</a>
         <a href="${doneLink}" class="btn btn-primary btn-block p-0">Perda: ${doneCount}</a>
         @* <h5 class="text-center">${Nama}</h5>
         <a href="${ProgressLink}" class="btn btn-primary btn-block p-0">Progress: ${ProgressCount}</a>
         <a href="${DoneLink}" class="btn btn-primary btn-block p-0">Perda: ${DoneCount}</a> *@
      </div>
   </div>
</section>

<!-- Summary Kegiatan -->
<section class="page-section" id="summary">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Summary Kegiatan</h2>
            <h3 class="section-subheading text-muted">Deputi Bidang Pembudayaan Olahraga</h3>
         </div>
      </div>

      <div class="form-group row">
         <label class="col-sm-2 col-form-label">Tahun</label>
         <div class="col-sm-10 col-md-3">
            <select asp-for="Tahun" class="form-control" asp-items="ViewBag.Tahun">
               <option value="0">Keseluruhan</option>
            </select>
         </div>
      </div>

      <table class="table">
         <thead>
            <tr>
               <th>
                  Penanggung Jawab
               </th>
               <th class="text-right pr-4">
                  Jumlah Kegiatan
               </th>
               <th class="text-right pr-4">
                  Total Peserta
               </th>
            </tr>
         </thead>

         <tbody id="kegiatan-summary">
         </tbody>
      </table>
   </div>

   <div class="container">
   </div>
</section>

@section Stylesheet
{
   <!-- Syncfusion Essential JS 2 Styles -->
   <link rel="stylesheet" href="~/css/bootstrap4.css">
}

@section Scripts
{
   <script src="~/js/summary-kegiatan.js"></script>
   <!-- Syncfusion Essential JS 2 Scripts -->
   <script src="~/js/ej2.min.js"></script>

   <!-- Syncfusion Essential JS 2 ScriptManager -->
   <ejs-scripts></ejs-scripts>
}
