@page
@model IndexModel

@{
   Layout = "_CommonLayout";
}

<div class="card-body">
   <p>
      <a asp-page="Create" class="btn btn-success">Tambah</a>
   </p>

   <div class="table-responsive">
      <table class="table">
         <thead>
            <tr>
               <th>
                  Id
               </th>
               <th>
                  Nama
               </th>
               <th>
               </th>
            </tr>
         </thead>

         <tbody>

@foreach (var item in Model.PenanggungJawab)
{
            <tr>
               <td>
                  @Html.DisplayFor(modelItem => item.Id)
               </td>
               <td>
                  @Html.DisplayFor(modelItem => item.Nama)
               </td>
               <td>
                  <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Ubah</a>
                  <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Hapus</a>
               </td>
            </tr>
}

         </tbody>
      </table>
   </div>

   @await Html.PartialAsync("_PagingPartial", Model.PenanggungJawab)
</div>
